



{% extends 'home/base.html' %} {% comment gibt an da wir den Code block aus home/base benutzen - so ähnlich wie vererbung von files %}{% endcomment %}

{% comment %} File for storage all users createdf recipes {% endcomment %}


{% load static %}


{% block title %} Home - Create Your own Recipe {% endblock %}

{% block styles %}



{% endblock %}




{% block authForm %}
<form method="post">
<main class="main">
    <div class="recipe_box">
        {% for recipe in object_list %}
            <div class="recipe_element" onclick="window.location.href='{% url 'home:user-recipe' recipe.pk %}';">
                <img src="{{ recipe.recipe_picture.img }}" alt="{{ recipe.title}}">
                {{ recipe.title }} {{ recipe.author }}  <br>

            </div>

        {% endfor %}









    </div>
</main>











</form>







{% endblock %}